# DONT CHECKIN .env file
# Get the actual values from Heroku environment

NODE_ENV = development
PORT=8080
LOG_LEVEL=info
INSTANCES_API=1
INSTANCES_WORKER=1
START_JOBS=true
SERVER_BASE_URL=http://localhost:8080
NOTIFICATION_TIMES='9:00,15:00,18:00'

FIREBASE_SERVER_KEY=<>
TEST_USER_FCM_TOKEN=<>

CONSUMER_KEY =<twitter consumer key>
CONSUMER_SECRET =<twitter consumer secret>

OPEN_WEATHER_API_APPID=<>
MAXMIND_LICENSE_KEY=<>

BEARER_SH_ENV = production
BEARER_SH_API_KEY=<>

NEW_RELIC_ENABLED=false
NEW_RELIC_LICENSE_KEY=<>

DATABASE_URL="mongodb://localhost:27017/nepaltodaydb"

FACEBOOK_ACCESS_TOKEN=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_PAGE_ID=
FACEBOOK_POST_TIME=
